/RAIFF_MULTIFLEXI.p12
/.env
/vendor/
/nbproject/
/csas-statement-downloader.phar
/.vscode/
/debian/.debhelper/
/debian/csas-statement-downloader/
/debian/debhelper-build-stamp
/debian/csas-statement-downloader.substvars
/debian/multiflexi-csas-statement-downloader.debhelper.log
/debian/multiflexi-csas-statement-downloader.substvars
/debian/csas-statement-downloader.debhelper.log
/debian/files
/debian/multiflexi-csas-statement-downloader/
/debian/multiflexi-csas-statement-tools.debhelper.log
/debian/csas-statement-tools.debhelper.log
/debian/multiflexi-csas-statement-tools.substvars
/debian/csas-statement-tools.substvars
/debian/multiflexi-csas-statement-tools/
/debian/csas-statement-tools/
/csas-statement-mailer.phar
/.php-cs-fixer.cache
/.build/
/composer.lock
