/RAIFF_MULTIFLEXI.p12
/.env
/vendor/
/nbproject/
/raiffeisenbank-statement-downloader.phar
/.vscode/
/debian/.debhelper/
/debian/raiffeisenbank-statement-downloader/
/debian/debhelper-build-stamp
/debian/raiffeisenbank-statement-downloader.substvars
/debian/multiflexi-raiffeisenbank-statement-downloader.debhelper.log
/debian/multiflexi-raiffeisenbank-statement-downloader.substvars
/debian/raiffeisenbank-statement-downloader.debhelper.log
/debian/files
/debian/multiflexi-raiffeisenbank-statement-downloader/
/debian/multiflexi-raiffeisenbank-statement-tools.debhelper.log
/debian/raiffeisenbank-statement-tools.debhelper.log
/debian/multiflexi-raiffeisenbank-statement-tools.substvars
/debian/raiffeisenbank-statement-tools.substvars
/debian/multiflexi-raiffeisenbank-statement-tools/
/debian/raiffeisenbank-statement-tools/
/raiffeisenbank-statement-mailer.phar
/.php-cs-fixer.cache
