Source: raiffeisenbank-statement-tools
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/VitexSoftware/raiffeisenbank-statement-tools

Package: raiffeisenbank-statement-tools
Architecture: all
Depends: ${misc:Depends}, php-vitexsoftware-rbczpremiumapi (>=1.2)
Suggests: multiflexi
Replaces: raiffeisenbank-statement-downloader
Description: Download your Raiffeisen Bank Statements
 Download statements to disk in requested format and within given time

Package: multiflexi-raiffeisenbank-statement-tools
Architecture: all
Replaces: multiflexi-raiffeisenbank-statement-downloader
Depends: raiffeisenbank-statement-tools, multiflexi
Description: Raiffeisen Bank statement tools to MultiFlexi
 Allow use of Raiffeisen Bank statement tools in MultiFlexi environment
