Source: csas-statement-tools
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/VitexSoftware/csas-statement-tools

Package: csas-statement-tools
Architecture: all
Depends: ${misc:Depends}, php-spojenet-csas-accountsapi (>=0.7.2)
Suggests: multiflexi
Description: Download your Česká Spořitelna Bank Statements
 Download statements to disk in requested format and within given time

Package: multiflexi-csas-statement-tools
Architecture: all
Depends: csas-statement-tools, multiflexi
Description: Česká Spořitelna Bank statement tools to MultiFlexi
 Allow use of Česká Spořitelna Bank statement tools in MultiFlexi environment
