#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php \
	    debian/csas-statement-tools/usr/lib/csas-statement-tools/autoload.php
	sed -i "s|require_once '../vendor/autoload.php';|require_once '/usr/lib/csas-statement-tools/autoload.php';|" \
	    debian/csas-statement-tools/usr/lib/csas-statement-tools/*.php
	sed -i "s|'../.env'|''|" \
	    debian/csas-statement-tools/usr/lib/csas-statement-tools/*.php
	jq '.version = "$(PKG_VERSION)"' multiflexi/cs_balance.multiflexi.app.json \
	    > debian/multiflexi-csas-statement-tools/usr/lib/csas-statement-tools/multiflexi/cs_balance.multiflexi.app.json
	jq '.version = "$(PKG_VERSION)"' multiflexi/cs_statement_downloader.multiflexi.app.json \
	    > debian/multiflexi-csas-statement-tools/usr/lib/csas-statement-tools/multiflexi/cs_statement_downloader.multiflexi.app.json
	jq '.version = "$(PKG_VERSION)"' multiflexi/cs_statement_mailer.multiflexi.app.json \
	    > debian/multiflexi-csas-statement-tools/usr/lib/csas-statement-tools/multiflexi/cs_statement_mailer.multiflexi.app.json
	jq '.version = "$(PKG_VERSION)"' multiflexi/cs_transaction_report.multiflexi.app.json \
	    > debian/multiflexi-csas-statement-tools/usr/lib/csas-statement-tools/multiflexi/cs_transaction_report.multiflexi.app.json

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net \
	    debian/io.github.vitexsoftware.csas_statement_tools.metainfo.xml
